.first-entry {
  font-size: inherit;
  padding: 0;
  margin-bottom: 24px;
}

.first-entry .entry-header h2 {
  font-size: 1.2rem;
}

.post-entry {
  margin-bottom: 24px;
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
}
