.first-entry,
.post-entry {
  font-size: inherit;
  padding: 0;
  margin-bottom: 40px;
  background: none;
  border: none;
  box-shadow: none;
}

.first-entry .entry-header h2,
.post-entry .entry-header h2 {
  font-size: 1.2rem;
  font-weight: 600;
}
